<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <script src="/socket.io/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/idb/index.js"  type="module"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/app.js"></script>

</head>
<body onload="init(),initStoryDatabase()">

<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url" name="image_url" value="<%= NewsId%>"></p>
        <button id="connect" onclick="connectToRoom()" >Connect</button>
    </form>
    <br>
    <button onclick='location.href=("mainPage")'>Go to main Page</button>
    <button onclick='location.href=("newReport")'>Go to Report News</button>
</div>
<div id="chat_interface" style="display: none">
    <div>
    <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <h2 id="imageTitle"></h2>
    <p id="text"><%= ReportText%></p>
    <div id="reportingBoard"  style="width: 100%; height: 50vh">
            <canvas  id="canvas" ></canvas>
            <canvas id="resultCanvas"></canvas>
            <img id="image" height="100%">

    </div>
    <br>
    <button class="canvas-clear" >Click to Delete the Picture</button>
<!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" >

        <div class="myRow" id="typeForm">
            <label for="myType">Type: </label><input type="text" id="myType">
            <button onclick="widgetInit()">Set type</button>
        </div>
        <div class="myRow" id='widget' style="display: none">
            <label for="myInput">Search for: </label><input type="text" id="myInput">
            <div class="myRow" id="typeSet"></div>
        </div>
        <div>
            <div class='resultPanel' id="resultPanel" style="display: none">
                <h3 id="resultName"></h3>
                <h4 id="resultId"></h4>
                <img id="resultImg">

                <div id="resultDescription"></div>
                <div>
                    <a id="resultUrl" target="_blank">
                        Link to Webpage
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
                <br>
                <button onclick='location.href=("mainPage")'>Back to main Page</button>
                <button onclick='location.href=("/")'>Back to Index</button>
            </p>
        </form>
    </div>
</div>


</body>
</html>
