<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
</head>
<body onload="init()">
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url" name="image_url"></p>
        <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
    <br>
    <button onclick='location.href=("mainPage")'>Go to main Page</button>
    <button onclick='location.href=("newReport")'>Go to Report News</button>
</div>
<div id="chat_interface" style="display: none">
    <div>
    <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <h2 id="imageTitle"></h2>
    <div id="reportingBoard"  style="width: 100%; height: 50vh">
            <img id="image" height="100%" >
            <canvas  id="canvas" ></canvas>
    </div>
<!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
                <br>
                <button onclick='location.href=("mainPage")'>Back to main Page</button>
                <button onclick='location.href=("/")'>Back to Index</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>
