<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div style="display: block">
    <h1><%= title %></h1>
    <p>Welcome to the News Reports Center!</p>

    <div id="reportingBlock">
        <h2 id="imageTitle"></h2>
        <div id="picture"  style="width: 100%; height: 50vh">
            <img id="image" height="100%" >
        </div>
        <p id="text"></p>
    </div>
    <br>
    <button onclick='location.href=("/")'>Back to Index</button>
    <button onclick='location.href=("newReport")'>Go to Report News</button>


</div>
</body>
</html>
